<nav id="web-main-navbar">
    <h1 class="navbar-title">Todo app</h1>

    <ul class="navbar-links">
        <li><a href="/">Home</a></li>
        <li><a href="/todos/create-todo">Create a Todo</a></li>
    </ul>
</nav>